
<ul class="nav flex-column bg-light-blue">
  <li class="nav-item">
    <a class="nav-link " href="{{path("app_account")}}">Mes commendes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">mes adresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path("app_account_modify_pwd")}}">Modifier mot de passe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"   href="{{path("app_logout")}}">Me deconnecter</a>
  </li>
</ul>